<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large"><strong>{{user.id ? 'Editar': 'Cadastrar'}}</strong> Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="content">
    <form [formGroup]="formUser" (ngSubmit)="submitForm()">
      <ion-list>
        <ion-item>
          <ion-input labelPlacement="floating" formControlName="name" value="" placeholder="Ex.: João" required>
            <div slot="label">Nome <ion-text color="danger">*</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" formControlName="email" labelPlacement="floating" value="" placeholder="username@mail.com" required>
            <div slot="label">Email <ion-text color="danger">*</ion-text></div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="floating" formControlName="phone" value="" placeholder="(xx) xxxxx-xxxx">
            <div slot="label">Telefone</div>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password" labelPlacement="floating" label="Senha" value="NeverGonnaGiveYouUp">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password_confirmation" labelPlacement="floating" label="Confirma Senha" value="NeverGonnaGiveYouUp">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="Perfil *" formControlName="profile_id" label-placement="floating" required>
            <ion-select-option *ngFor="let p of (profiles$ | async)" [value]="p.id">{{p.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button type="submit" expand="full">Salvar</ion-button>
    </form>
  </div>

</ion-content>
